
body {
    font-family: 'Sniglet', sans-serif; /* Fallback to sans-serif */
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #FFF9ED;
}

h1 {
    display: none;
}

header {
    background-color: #3A2520;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header >button {
    order: -1;
    background-color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

nav {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 1s;
    background-color: #3A2520;
}

nav.toonMenu {
    transform: translateX(0);
}

header img {
    width: 10%;
    align-self: center;
}

header ul {
    display: flex;
    flex-direction: column;
    gap: 2em;
    list-style-type: none;
    padding: 0;

}

header a {
    text-decoration: none;
    padding: 0.5em;
    background-color: #FFF9ED;
    color: #352b17;

    transition: 1s;
}

header a:hover{

    scale: 110%;
}

nav>button {
    background-color: #fff;
    border: none;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

footer{

    background-color: #B6422B;

}

footer ul{
    list-style-type: none;
    margin-bottom: 1em;
    margin-top: 1em;

}

footer h3{
    margin-bottom: 1em;
    margin-top: 1em;
    color: #FFF9ED;
}

